.input {
  background-color: var(--color-mauve-1);
  border: 0.1rem solid var(--color-mauve-7);
  border-radius: var(--border-radius-2);
  padding: 1rem 1.4rem;
  font: var(--font-text-sm);
  font-weight: 400;
  width: 100%;
}

.input:focus:not([readonly]) {
  border-color: var(--color-violet-8);
}

@media (hover: hover) {
  .input:hover:not(:disabled):not(:focus):not([readonly]) {
    border-color: var(--color-mauve-8);
  }
}

.input-date-container {
  width: 100%;
  position: relative;
}

.input-date-container svg {
  width: 1.6rem;
  height: auto;
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  pointer-events: none;
}

.input-date-container .input {
  padding: 0.9rem 1.4rem;
  height: 4rem;
}

.checkbox {
  border-radius: var(--border-radius-1);
  border: 0.1rem solid var(--color-mauve-7);
  background-color: var(--color-mauve-1);
  color: var(--color-violet-9);
  width: 1.6rem;
  height: 1.6rem;
}

.checkbox[data-state='checked'] {
  background-color: var(--color-violet-3);
  border-color: var(--color-violet-8);
}

.checkbox > * {
  display: grid;
  place-items: center;
}

.checkbox:focus {
  border-color: var(--color-violet-8);
}

@media (hover: hover) {
  .checkbox:hover:not(:disabled):not(:focus):not([data-state='checked']) {
    border-color: var(--color-mauve-8);
  }
}
