.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-mauve-2);
  padding: var(--spacing-4);
}

.login-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-5);
  margin-bottom: var(--spacing-12);
}

.login-main {
  width: 100%;
  max-width: 40rem;
}
