.app {
  min-height: inherit;
  display: flex;
  flex-direction: row;
  background-color: var(--color-mauve2);
}

.app-header {
  background-color: var(--color-mauve1);
  border-right: 0.1rem solid var(--color-mauve6);
  padding: var(--spacing-6);
}

.app-main {
  width: 100%;
  padding: var(--spacing-16);
  position: relative;
}

.app-outlet {
  max-width: 104rem;
  margin: 0 auto;
}
