.badge {
  text-align: center;
  border-radius: 10rem;
}

.badge--sm {
  padding: var(--spacing-1) var(--spacing-2);
  font: var(--font-text-xs);
  font-weight: 500;
}

.badge--md {
  padding: var(--spacing-1) 1rem;
  font: var(--font-text-sm);
  font-weight: 500;
}

.badge--lg {
  padding: var(--spacing-1) var(--spacing-3);
  font: var(--font-text-sm);
  font-weight: 500;
}

.badge--gray {
  background-color: var(--color-mauve3);
  color: var(--color-mauve9);
}

.badge--warning {
  background-color: var(--color-orange3);
  color: var(--color-orange9);
}

.badge--success {
  background-color: var(--color-green3);
  color: var(--color-green9);
}
