button {
  appearance: none;
  font-family: inherit;
  font-weight: 600;
  border: 0;
  border-radius: 0.8rem;
  outline-width: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-xs);
}

.button--primary {
  background-color: var(--color-violet9);
  color: var(--color-mauve1);
  border: 0.1rem solid var(--color-violet9);
}

.button--secondary-color {
  background-color: var(--color-violet3);
  color: var(--color-violet10);
  border: 0.1rem solid var(--color-violet3);
}

.button--secondary-gray {
  background-color: var(--color-mauve1);
  color: var(--color-mauve12);
  border: 0.1rem solid var(--color-mauve7);
}

.button--secondary-gray:focus-visible {
  outline-color: var(--color-mauve7);
}

.button--tertiary-color {
  background-color: transparent;
  color: var(--color-violet10);
  border: 0.1rem solid transparent;
}

.button--tertiary-gray {
  background-color: transparent;
  color: var(--color-mauve12);
  border: 0.1rem solid transparent;
}

.button--tertiary-gray:focus-visible {
  outline-color: var(--color-mauve7);
}

@media (hover: hover) {
  .button--primary:hover {
    background-color: var(--color-violet10);
    border-color: var(--color-violet10);
  }

  .button--secondary-color:hover {
    background-color: var(--color-violet4);
    border-color: var(--color-violet4);
  }

  .button--secondary-gray:hover {
    background-color: var(--color-mauve4);
    border-color: var(--color-mauve8);
  }

  .button--tertiary-color:hover {
    background-color: var(--color-violet4);
    border-color: var(--color-violet4);
  }

  .button--tertiary-gray:hover {
    background-color: var(--color-mauve4);
    border-color: var(--color-mauve4);
  }
}

.button--sm {
  font: var(--font-text-sm);
  font-weight: 600;
  padding: var(--spacing-2) 1.4rem;
}

.button--md {
  font: var(--font-text-sm);
  font-weight: 600;
  padding: 1rem var(--spacing-4);
}

.button--lg {
  font: var(--font-text-md);
  font-weight: 600;
  padding: 1rem 1.8rem;
}

.button--xl {
  font: var(--font-text-md);
  font-weight: 600;
  padding: var(--spacing-3) 2rem;
}
