label {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font: var(--font-text-sm);
  font-weight: 500;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='email'],
input[type='number'],
input[type='tel'] {
  appearance: none;
  background-color: var(--color-mauve1);
  border: 0.1rem solid var(--color-mauve7);
  border-radius: 0.8rem;
  padding: 1rem 1.4rem;
  font: var(--font-text-md);
  font-weight: 400;
  width: 100%;
}

input[type='text']:focus-visible,
input[type='password']:focus-visible,
input[type='date']:focus-visible,
input[type='email']:focus-visible,
input[type='number']:focus-visible,
input[type='tel']:focus-visible {
  border-color: var(--color-violet8);
}

::placeholder {
  color: var(--color-mauve10);
}

@media (hover: hover) {
  input[type='text']:hover,
  input[type='password']:hover,
  input[type='date']:hover,
  input[type='email']:hover,
  input[type='number']:hover,
  input[type='tel']:hover {
    border-color: var(--color-mauve8);
  }
}
