*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: var(--font-text-md);
  color: var(--color-mauve-12);
}

h1 {
  font: var(--font-text-3xl);
  font-weight: 600;
}

h2 {
  font: var(--font-text-2xl);
  font-weight: 600;
}

h3 {
  font: var(--font-text-lg);
  font-weight: 600;
}

ul {
  list-style: none;
}

button {
  appearance: none;
  font-family: inherit;
  border: 0;
}

a {
  text-decoration: none;
  color: var(--color-mauve-12);
  display: inline-flex;
}

fieldset {
  border: none;
}

input {
  appearance: none;
  color: inherit;
  border: none;
}

address {
  font-style: normal;
}

strong {
  font-weight: 600;
}

/* interactive elements generic styles */
:focus {
  box-shadow: var(--shadow-outline-violet);
  outline: none;
}

input[readonly] {
  border: none;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
}

::placeholder {
  color: var(--color-mauve-10);
}

[disabled],
[aria-disabled='true'] {
  cursor: not-allowed;
  opacity: 0.7;
}
