:root {
  /* COLORS */
  /* brand scale */
  --color-violet-1: hsl(255, 65%, 99.4%);
  --color-violet-2: hsl(252, 100%, 99%);
  --color-violet-3: hsl(252, 96.9%, 97.4%);
  --color-violet-4: hsl(252, 91.5%, 95.5%);
  --color-violet-5: hsl(252, 85.1%, 93%);
  --color-violet-6: hsl(252, 77.8%, 89.4%);
  --color-violet-7: hsl(252, 71%, 83.7%);
  --color-violet-8: hsl(252, 68.6%, 76.3%);
  --color-violet-9: hsl(252, 56%, 57.5%);
  --color-violet-10: hsl(251, 48.1%, 53.5%);
  --color-violet-11: hsl(250, 43%, 48%);
  --color-violet-12: hsl(254, 60%, 18.5%);
  /* gray scale */
  --color-mauve-1: hsl(300, 20%, 99%);
  --color-mauve-2: hsl(300, 7.7%, 97.5%);
  --color-mauve-3: hsl(294, 5.5%, 95.3%);
  --color-mauve-4: hsl(289, 4.7%, 93.3%);
  --color-mauve-5: hsl(283, 4.4%, 91.3%);
  --color-mauve-6: hsl(278, 4.1%, 89.1%);
  --color-mauve-7: hsl(271, 3.9%, 86.3%);
  --color-mauve-8: hsl(255, 3.7%, 78.8%);
  --color-mauve-9: hsl(252, 4%, 57.3%);
  --color-mauve-10: hsl(253, 3.5%, 53.5%);
  --color-mauve-11: hsl(252, 4%, 44.8%);
  --color-mauve-12: hsl(260, 25%, 11%);
  /* success scale */
  --color-green-1: hsl(136, 50%, 98.9%);
  --color-green-2: hsl(138, 62.5%, 96.9%);
  --color-green-3: hsl(139, 55.2%, 94.5%);
  --color-green-4: hsl(140, 48.7%, 91%);
  --color-green-5: hsl(141, 43.7%, 86%);
  --color-green-6: hsl(143, 40.3%, 79%);
  --color-green-7: hsl(146, 38.5%, 69%);
  --color-green-8: hsl(151, 40.2%, 54.1%);
  --color-green-9: hsl(151, 55%, 41.5%);
  --color-green-10: hsl(152, 57.5%, 37.6%);
  --color-green-11: hsl(153, 67%, 28.5%);
  --color-green-12: hsl(155, 40%, 14%);
  /* warning scale */
  --color-orange-1: hsl(24, 70%, 99%);
  --color-orange-2: hsl(24, 83.3%, 97.6%);
  --color-orange-3: hsl(24, 100%, 95.3%);
  --color-orange-4: hsl(25, 100%, 92.2%);
  --color-orange-5: hsl(25, 100%, 88.2%);
  --color-orange-6: hsl(25, 100%, 82.8%);
  --color-orange-7: hsl(24, 100%, 75.3%);
  --color-orange-8: hsl(24, 94.5%, 64.3%);
  --color-orange-9: hsl(24, 94%, 50%);
  --color-orange-10: hsl(24, 100%, 46.5%);
  --color-orange-11: hsl(24, 100%, 37%);
  --color-orange-12: hsl(15, 60%, 17%);
  /* error scale */
  --color-red-1: hsl(359, 100%, 99.4%);
  --color-red-2: hsl(359, 100%, 98.6%);
  --color-red-3: hsl(360, 100%, 96.8%);
  --color-red-4: hsl(360, 97.9%, 94.8%);
  --color-red-5: hsl(360, 90.2%, 91.9%);
  --color-red-6: hsl(360, 81.7%, 87.8%);
  --color-red-7: hsl(359, 74.2%, 81.7%);
  --color-red-8: hsl(359, 69.5%, 74.3%);
  --color-red-9: hsl(358, 75%, 59%);
  --color-red-10: hsl(358, 69.4%, 55.2%);
  --color-red-11: hsl(358, 65%, 48.7%);
  --color-red-12: hsl(354, 50%, 14.6%);

  /* FONTS */
  --font-family: 'Poppins', sans-serif;
  --font-text-3xl: 3rem/3.8rem var(--font-family);
  --font-text-2xl: 2.4rem/3.2rem var(--font-family);
  --font-text-xl: 2rem/3rem var(--font-family);
  --font-text-lg: 1.8rem/2.8rem var(--font-family);
  --font-text-md: 1.6rem/2.4rem var(--font-family);
  --font-text-sm: 1.4rem/2rem var(--font-family);
  --font-text-xs: 1.2rem/1.8rem var(--font-family);

  /* SHADOWS */
  --shadow-outline-violet: 0 0 0 0.3rem var(--color-violet-6);
  --shadow-outline-mauve: 0 0 0 0.3rem var(--color-mauve-6);
  --shadow-outline-red: 0 0 0 0.3rem var(--color-red-6);
  --shadow-3xl: 0rem 3.2rem 6.4rem -1.2rem hsla(260, 25%, 11%, 1.4);
  --shadow-2xl: 0rem 2.4rem 4.8rem -1.2rem hsla(260, 25%, 11%, 1.8);
  --shadow-xl: 0rem 2rem 2.4rem -0.4rem hsla(260, 25%, 11%, 0.08),
    0rem 0.8rem 0.8rem -0.4rem hsla(260, 25%, 11%, 0.03);
  --shadow-lg: 0rem 1.2rem 1.6rem -0.4rem hsla(260, 25%, 11%, 0.08),
    0rem 0.4rem 0.6rem -0.2rem hsla(260, 25%, 11%, 0.03);
  --shadow-md: 0rem 0.4rem 0.8rem -0.2rem hsla(260, 25%, 11%, 0.1),
    0rem 0.2rem 0.4rem -0.2rem hsla(260, 25%, 11%, 0.06);
  --shadow-sm: 0rem 0.1rem 0.3rem hsla(260, 25%, 11%, 0.1),
    0rem 0.1rem 0.2rem hsla(260, 25%, 11%, 0.06);
  --shadow-xs: 0rem 0.1rem 0.2rem hsla(260, 25%, 11%, 0.05);

  /* BORDER RADIUS */
  --border-radius-unit: 0.4rem;
  --border-radius-1: calc(1 * var(--border-radius-unit));
  --border-radius-2: calc(2 * var(--border-radius-unit));

  /* SPACING */
  --spacing-unit: 0.4rem;
  --spacing-1: calc(1 * var(--spacing-unit));
  --spacing-2: calc(2 * var(--spacing-unit));
  --spacing-3: calc(3 * var(--spacing-unit));
  --spacing-4: calc(4 * var(--spacing-unit));
  --spacing-5: calc(5 * var(--spacing-unit));
  --spacing-6: calc(6 * var(--spacing-unit));
  --spacing-8: calc(8 * var(--spacing-unit));
  --spacing-10: calc(10 * var(--spacing-unit));
  --spacing-12: calc(12 * var(--spacing-unit));
  --spacing-16: calc(16 * var(--spacing-unit));
  --spacing-20: calc(20 * var(--spacing-unit));
  --spacing-24: calc(24 * var(--spacing-unit));
  --spacing-32: calc(32 * var(--spacing-unit));
  --spacing-40: calc(40 * var(--spacing-unit));
  --spacing-48: calc(48 * var(--spacing-unit));
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: var(--font-text-md);
  color: var(--color-mauve-12);
}

body.dark-mode {
  /* brand scale dark */
  --color-violet-1: hsl(250, 20%, 10.2%);
  --color-violet-2: hsl(255, 30.3%, 12.9%);
  --color-violet-3: hsl(253, 37%, 18.4%);
  --color-violet-4: hsl(252, 40.1%, 22.5%);
  --color-violet-5: hsl(252, 42.2%, 26.2%);
  --color-violet-6: hsl(251, 44.3%, 31.1%);
  --color-violet-7: hsl(250, 46.8%, 38.9%);
  --color-violet-8: hsl(250, 51.8%, 51.2%);
  --color-violet-9: hsl(252, 56%, 57.5%);
  --color-violet-10: hsl(251, 63.2%, 63.2%);
  --color-violet-11: hsl(250, 95%, 76.8%);
  --color-violet-12: hsl(252, 87%, 96.4%);
  /* gray scale dark*/
  --color-mauve-1: hsl(246, 6%, 9%);
  --color-mauve-2: hsl(240, 5.1%, 11.6%);
  --color-mauve-3: hsl(241, 5%, 14.3%);
  --color-mauve-4: hsl(242, 4.9%, 16.5%);
  --color-mauve-5: hsl(243, 4.9%, 18.8%);
  --color-mauve-6: hsl(244, 4.9%, 21.5%);
  --color-mauve-7: hsl(245, 4.9%, 25.4%);
  --color-mauve-8: hsl(247, 4.8%, 32.5%);
  --color-mauve-9: hsl(252, 4%, 45.2%);
  --color-mauve-10: hsl(247, 3.4%, 50.7%);
  --color-mauve-11: hsl(253, 4%, 63.7%);
  --color-mauve-12: hsl(256, 6%, 93.2%);
  /* success scale dark*/
  --color-green-1: hsl(146, 30%, 7.4%);
  --color-green-2: hsl(155, 44.2%, 8.4%);
  --color-green-3: hsl(155, 46.7%, 10.9%);
  --color-green-4: hsl(154, 48.4%, 12.9%);
  --color-green-5: hsl(154, 49.7%, 14.9%);
  --color-green-6: hsl(154, 50.9%, 17.6%);
  --color-green-7: hsl(153, 51.8%, 21.8%);
  --color-green-8: hsl(151, 51.7%, 28.4%);
  --color-green-9: hsl(151, 55%, 41.5%);
  --color-green-10: hsl(151, 49.3%, 46.5%);
  --color-green-11: hsl(151, 50%, 53.2%);
  --color-green-12: hsl(137, 72%, 94%);
  /* warning scale dark*/
  --color-orange-1: hsl(30, 70%, 7.2%);
  --color-orange-2: hsl(28, 100%, 8.4%);
  --color-orange-3: hsl(26, 91.1%, 11.6%);
  --color-orange-4: hsl(25, 88.3%, 14.1%);
  --color-orange-5: hsl(24, 87.6%, 16.6%);
  --color-orange-6: hsl(24, 88.6%, 19.8%);
  --color-orange-7: hsl(24, 92.4%, 24%);
  --color-orange-8: hsl(25, 100%, 29%);
  --color-orange-9: hsl(24, 94%, 50%);
  --color-orange-10: hsl(24, 100%, 58.5%);
  --color-orange-11: hsl(24, 100%, 62.2%);
  --color-orange-12: hsl(24, 97%, 93.2%);
  /* error scale dark*/
  --color-red-1: hsl(353, 23%, 9.8%);
  --color-red-2: hsl(357, 34.4%, 12%);
  --color-red-3: hsl(356, 43.4%, 16.4%);
  --color-red-4: hsl(356, 47.6%, 19.2%);
  --color-red-5: hsl(356, 51.1%, 21.9%);
  --color-red-6: hsl(356, 55.2%, 25.9%);
  --color-red-7: hsl(357, 60.2%, 31.8%);
  --color-red-8: hsl(358, 65%, 40.4%);
  --color-red-9: hsl(358, 75%, 59%);
  --color-red-10: hsl(358, 85.3%, 64%);
  --color-red-11: hsl(358, 100%, 69.5%);
  --color-red-12: hsl(351, 89%, 96%);

  /* SHADOWS */
  --shadow-3xl: 0 3.2rem 6.4rem -1.2rem hsla(256, 6%, 93.2%, 1.4);
  --shadow-2xl: 0 2.4rem 4.8rem -1.2rem hsla(256, 6%, 93.2%, 1.8);
  --shadow-xl: 0 2rem 2.4rem -0.4rem hsla(256, 6%, 93.2%, 0.08),
    0 0.8rem 0.8rem -0.4rem hsla(256, 6%, 93.2%, 0.03);
  --shadow-lg: 0 1.2rem 1.6rem -0.4rem hsla(256, 6%, 93.2%, 0.08),
    0 0.4rem 0.6rem -0.2rem hsla(256, 6%, 93.2%, 0.03);
  --shadow-md: 0 0.4rem 0.8rem -0.2rem hsla(256, 6%, 93.2%, 0.1),
    0 0.2rem 0.4rem -0.2rem hsla(256, 6%, 93.2%, 0.06);
  --shadow-sm: 0 0.1rem 0.3rem hsla(256, 6%, 93.2%, 0.1),
    0 0.1rem 0.2rem hsla(256, 6%, 93.2%, 0.06);
  --shadow-xs: 0 0.1rem 0.2rem hsla(256, 6%, 93.2% 0.05);
}

h1 {
  font: var(--font-text-3xl);
  font-weight: 600;
}

h2 {
  font: var(--font-text-2xl);
  font-weight: 600;
}

h3 {
  font: var(--font-text-lg);
  font-weight: 600;
}

ul {
  list-style: none;
}

button {
  appearance: none;
  font-family: inherit;
  border: 0;
}

a {
  text-decoration: none;
  color: var(--color-mauve-12);
  display: inline-flex;
}

fieldset {
  border: none;
}

input {
  appearance: none;
  color: inherit;
  border: none;
}

address {
  font-style: normal;
}

@media (max-width: 52em) {
  h1 {
    font: var(--font-text-2xl);
    font-weight: 600;
  }
}

/* interactive elements generic styles */
:focus {
  box-shadow: var(--shadow-outline-violet);
  outline: none;
}

[disabled],
[aria-disabled='true'] {
  cursor: not-allowed;
  opacity: 0.7;
}
