.invoices {
  width: 100%;
}

.invoices-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoices-header-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.invoices-header-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.invoices-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-top: var(--spacing-10);
}

.invoices-list-item-link {
  display: block;
  background-color: var(--color-mauve1);
  padding: var(--spacing-6);
  border-radius: 0.8rem;
  box-shadow: var(--shadow-xs);
  border: 0.1rem solid var(--color-mauve7);
}

.invoices-list-item-link:hover:not(:focus) {
  border-color: var(--color-mauve8);
}

.invoices-list-item-link:focus {
  border-color: var(--color-violet8);
}

.invoices-list-item-dl {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr 1fr 9.6rem auto;
  align-items: center;
}

.invoices-list-item-dl > *:nth-child(2),
.invoices-list-item-dl > *:nth-child(4),
.invoices-list-item-dl > *:nth-child(6),
.invoices-list-item-dl > *:nth-child(8) {
  margin-right: var(--spacing-10);
}

.invoices-list-item-dl > *:nth-child(10) {
  margin-right: var(--spacing-4);
}

.invoices-list-item-dl > *:nth-child(8) {
  text-align: right;
}

.invoices-list-item-dl svg {
  width: 2rem;
  height: auto;
}

.invoice-form {
  overflow: auto;
  padding: var(--spacing-8) var(--spacing-12);
}

.invoice-form::-webkit-scrollbar {
  width: 0.2rem;
}
.invoice-form::-webkit-scrollbar-track {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}

.invoice-form::-webkit-scrollbar-thumb {
  background-color: var(--color-mauve9);
}

.invoice-form-billing-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.invoice-form-fieldset-row {
  display: flex;
  gap: inherit;
}

.invoice-form-fieldset-row > * {
  flex: 1 1 50%;
}

.invoice-form-items-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.invoice-form-items {
  display: grid;
  grid-template-columns: auto 6.4rem 8.8rem 8.8rem min-content;
  row-gap: 0.6rem;
  column-gap: var(--spacing-5);
}

.invoice-form-items li {
  display: contents;
}

.invoice-form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-4);
}

.invoice-form-button-left {
  margin-right: auto;
}
