.invoices {
  width: 100%;
}

.invoices-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoices-header-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.invoices-header-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.invoices-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-top: var(--spacing-10);
}

.invoices-list-item {
  display: grid;
  grid-template-columns: auto auto 1fr 1fr 9.6rem auto;
  align-items: center;
  background-color: var(--color-mauve1);
  padding: var(--spacing-6);
  border-radius: 0.8rem;
  box-shadow: var(--shadow-xs);
  border: 0.1rem solid var(--color-mauve6);
}

.invoices-list-item > *:nth-child(2),
.invoices-list-item > *:nth-child(4),
.invoices-list-item > *:nth-child(6),
.invoices-list-item > *:nth-child(8) {
  margin-right: var(--spacing-10);
}

.invoices-list-item > *:nth-child(10) {
  margin-right: var(--spacing-4);
}

.invoices-list-item > *:nth-child(8) {
  text-align: right;
}

.invoices__item svg {
  width: 1.8rem;
  height: auto;
}

.invoices__item svg path {
  fill: var(--color-mauve12);
}
