.invoices {
  width: 100%;
}

.invoices-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoices-summary {
  font: var(--font-text-xs);
  color: var(--color-mauve11);
}

.invoices-header-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.invoices-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-top: var(--spacing-10);
}

.invoices-list-item a {
  display: block;
  background-color: var(--color-mauve1);
  padding: var(--spacing-6);
  border-radius: 0.8rem;
  box-shadow: var(--shadow-xs);
  border: 0.1rem solid var(--color-mauve7);
}

.invoices-list-item a:hover:not(:focus) {
  border-color: var(--color-mauve8);
}

.invoices-list-item a:focus {
  border-color: var(--color-violet8);
}

.invoices-list-item dl {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr 1fr 9.6rem auto;
  align-items: center;
  font: var(--font-text-sm);
}

.invoices-list-item-id {
  font-weight: 600;
}

.invoices-list-item-id::before {
  content: '#';
  color: var(--color-mauve11);
}

.invoices-list-item-amount-due {
  font: var(--font-text-lg);
  font-weight: 600;
}

.invoices-list-item-due-date,
.invoices-list-item-client-name {
  color: var(--color-mauve11);
}

.invoices-list-item-id,
.invoices-list-item-due-date,
.invoices-list-item-client-name,
.invoices-list-item-amount-due {
  margin-right: var(--spacing-10);
}

.invoices-list-item-status {
  margin-right: var(--spacing-4);
}

.invoices-list-item-status > * {
  width: 100%;
  display: block;
}

.invoices-list-item-amount-due {
  text-align: right;
}

.invoices-list-item dl svg {
  width: 2rem;
  height: auto;
}

.invoice-form {
  overflow: auto;
  padding: var(--spacing-8) var(--spacing-12);
}

.invoice-form::-webkit-scrollbar {
  width: 0.2rem;
}
.invoice-form::-webkit-scrollbar-track {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}

.invoice-form::-webkit-scrollbar-thumb {
  background-color: var(--color-mauve9);
}

.invoice-form-billing-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.invoice-form-fieldset-row {
  display: flex;
  gap: inherit;
}

.invoice-form-fieldset-row > * {
  flex: 1 1 50%;
}

.invoice-form-items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.invoice-form-items ul {
  display: grid;
  grid-template-columns: auto 7.2rem 10.4rem 8rem min-content;
  row-gap: 0.6rem;
  column-gap: var(--spacing-5);
}

.invoice-form-items ul li {
  display: contents;
}

.invoice-form-buttons {
  padding: var(--spacing-8) var(--spacing-12);
  border-top: 0.1rem solid var(--color-mauve6);
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-4);
}

.invoice-form-button-left {
  margin-right: auto;
}
