.container {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-mauve2);
  padding: var(--spacing-4);
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-5);
  margin-bottom: var(--spacing-12);
}

main {
  width: 100%;
  max-width: 40rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

form > *:last-child {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}
