.text--4xl {
  font: var(--font-display-md);
}

.text--3xl {
  font: var(--font-display-sm);
}

.text--2xl {
  font: var(--font-display-xs);
}

.text--xl {
  font: var(--font-text-xl);
}

.text--md {
  font: var(--font-text-md);
}

.text--sm {
  font: var(--font-text-sm);
}

.text--xs {
  font: var(--font-text-xs);
}

.text--light {
  font-weight: 300;
}

.text--normal {
  font-weight: 400;
}

.text--medium {
  font-weight: 500;
}

.text--semibold {
  font-weight: 600;
}

.text--bold {
  font-weight: 700;
}

.text--hc {
  color: var(--color-mauve12);
}

.text--lc {
  color: var(--color-mauve11);
}
