/* form styles */
.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.legend {
  color: var(--color-violet-9);
  font: var(--font-text-sm);
  font-weight: 600;
  margin-bottom: var(--spacing-5);
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field:has(input[type='checkbox']) {
  flex-direction: row;
  align-items: center;
}

.input-field .label {
  padding-bottom: 0.6rem;
}

.label {
  font: var(--font-text-sm);
  font-weight: 500;
  color: var(--color-mauve-12);
}

.input {
  background-color: var(--color-mauve-1);
  border: 0.1rem solid var(--color-mauve-7);
  border-radius: var(--border-radius-2);
  padding: 1rem 1.4rem;
  font: var(--font-text-sm);
  font-weight: 400;
  width: 100%;
}

.input[readonly] {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.input:focus:not([readonly]) {
  border-color: var(--color-violet-8);
}

::placeholder {
  color: var(--color-mauve-10);
}

@media (hover: hover) {
  .input:hover:not(:focus):not([readonly]) {
    border-color: var(--color-mauve-8);
  }
}

.input-date-container {
  width: 100%;
  position: relative;
}

.input-date-container svg {
  width: 1.6rem;
  height: auto;
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  pointer-events: none;
}

.input-date-container .input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.input-date-container .input {
  padding: 0.9rem 1.4rem;
}

.checkbox-field {
  display: flex;
}

.checkbox-field .label {
  padding-left: var(--spacing-2);
}

.checkbox {
  border-radius: var(--border-radius-1);
  border: 0.1rem solid var(--color-mauve-7);
  background-color: var(--color-mauve-1);
  color: var(--color-violet-9);
  width: 1.6rem;
  height: 1.6rem;
}

.checkbox[data-state='checked'] {
  background-color: var(--color-violet-3);
  border-color: var(--color-violet-8);
}

.checkbox > * {
  display: grid;
  place-items: center;
}

.checkbox:focus {
  border-color: var(--color-violet-8);
}

@media (hover: hover) {
  .checkbox:hover:not(:focus):not([data-state='checked']) {
    border-color: var(--color-mauve-8);
  }
}

.select-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  color: var(--color-mauve-12);
}

.select-trigger svg {
  width: 2rem;
  height: auto;
}

.select-trigger[data-state='open'] svg {
  transform: rotate(180deg);
}

.select-content {
  overflow: hidden;
  background-color: var(--color-mauve-1);
  border-radius: var(--border-radius-2);
  box-shadow: var(--shadow-lg);
  width: var(--radix-select-trigger-width);
}

.select-viewport {
  padding: 0.7rem;
}

.select-item {
  font: var(--font-text-sm);
  padding: 1rem 0.7rem;
  display: flex;
  justify-content: space-between;
  user-select: none;
  border-radius: var(--border-radius-1);
}

.select-item:focus {
  background-color: var(--color-violet-4);
}

.select-item-indicator {
  display: flex;
  align-items: center;
  color: var(--color-violet-9);
  border: none;
}

.select-item svg {
  width: 2rem;
  height: auto;
}

/* badge styles */
.badge {
  text-align: center;
  border-radius: var(--border-radius-2);
  padding: var(--spacing-2) var(--spacing-3);
  font: var(--font-text-sm);
  font-weight: 500;
}

.badge-gray {
  background-color: var(--color-mauve-3);
  color: var(--color-mauve-9);
}

.badge-warning {
  background-color: var(--color-orange-3);
  color: var(--color-orange-9);
}

.badge-success {
  background-color: var(--color-green-3);
  color: var(--color-green-9);
}

/* popover styles */
.popover-trigger[data-state='open'] svg {
  transform: rotate(180deg);
}

.popover-content {
  width: var(--radix-popover-trigger-width);
  min-width: 16rem;
  background-color: var(--color-mauve-1);
  border-radius: var(--border-radius-2);
  padding: var(--spacing-4);
  box-shadow: var(--shadow-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

/* slide over styles */
.slide-over-overlay {
  background-color: var(--color-mauve-12);
  position: absolute;
  inset: 0;
  opacity: 0.2;
}

.slide-over-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 72rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-mauve-1);
}

.slide-over-title {
  padding: var(--spacing-8) var(--spacing-12);
  border-bottom: 0.1rem solid var(--color-mauve-6);
}

@media (max-width: 52em) {
  .slide-over-title {
    padding: var(--spacing-6);
  }
}

/* alert dialog styles */
.alert-dialog-overlay {
  background-color: var(--color-mauve-12);
  position: fixed;
  inset: 0;
  opacity: 0.2;
}

.alert-dialog-content {
  position: fixed;
  left: 0;
  top: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88vw;
  max-width: 56rem;
  max-height: 88vh;
  padding: var(--spacing-12);
  border-radius: var(--border-radius-2);
  background-color: var(--color-mauve-1);
}

.alert-dialog-title {
  margin-bottom: var(--spacing-4);
}

.alert-dialog-description {
  font: var(--font-text-sm);
  color: var(--color-mauve-11);
  margin-bottom: var(--spacing-6);
}
