.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.form-legend {
  color: var(--color-violet-9);
  font: var(--font-text-sm);
  font-weight: 600;
  margin-bottom: var(--spacing-5);
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field:has(input[type='checkbox']) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.form-label {
  font: var(--font-text-sm);
  font-weight: 500;
  color: var(--color-mauve-12);
}
