.invoiceId {
  color: var(--color-dark-text-and-icons);
  font-weight: 700;
  max-width: 6rem;
}

.invoiceId::before {
  content: '#';
  color: var(--color-light-text-and-icons);
  font-weight: 700;
}
