.invoiceStatus {
  font-weight: 700;
  width: 10.4rem;
  max-width: 10.4rem;
  text-align: center;
  padding: 1.2rem;
  border-radius: var(--border-radius-small);
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.8rem;
}

.invoiceStatus::before {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  border-radius: 50%;
}

.invoiceStatusPaid {
  color: rgb(51, 214, 159);
  background-color: rgba(51, 214, 159, 0.05);
}

.invoiceStatusPaid::before {
  background-color: rgb(51, 214, 159);
}

.invoiceStatusPending {
  color: rgb(255, 143, 0);
  background-color: rgba(255, 143, 0, 0.05);
}

.invoiceStatusPending::before {
  background-color: rgb(255, 143, 0);
}

.invoiceStatusDraft {
  color: rgb(55, 59, 83);
  background-color: rgba(55, 59, 83, 0.05);
}

.invoiceStatusDraft::before {
  background-color: rgb(55, 59, 83);
}

body[data-theme='dark'] .invoiceStatusDraft {
  color: rgb(223, 227, 250);
  background-color: rgba(223, 227, 250, 0.05);
}

.invoiceStatusDraft::before {
  background-color: rgb(223, 227, 250);
}
