.invoices-filter-trigger[data-state='open'] svg {
  transform: rotate(180deg);
}

.invoices-filter-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.invoices-filter-form {
  gap: inherit;
}
