.invoiceListItem:not(:last-child) {
  margin-bottom: 2rem;
}

.invoiceListItemLink {
  width: 100%;
  padding: 1.8rem 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-very-light-text-and-icons);
}

.invoiceListItemLink > * {
  flex-grow: 1;
}

.invoiceListItemPaymentDue {
  max-width: 12rem;
  margin-left: 4rem;
}

.invoiceListItemPaymentDue::before {
  content: 'Due ';
}

.invoiceListItemClientName {
  max-width: 20rem;
  text-align: left;
  margin-left: 4rem;
}

.invoiceListItemTotal {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.08rem;
  color: var(--color-dark-text-and-icons);
  font-weight: 700;
  text-align: right;
  margin-right: 4rem;
}

.invoiceListItem svg {
  max-width: 0.8rem;
  margin-left: 2rem;
}
