.invoiceListItem:not(:last-child) {
  margin-bottom: 2rem;
}

.invoiceListItemContainer {
  border: 0.1rem solid var(--background-color-container);
  transition: all 0.2s;
}

.invoiceListItemContainer:hover {
  border: 0.1rem solid var(--color-main);
}

.invoiceListItemLink {
  width: 100%;
  padding: 1.8rem 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light-text-and-icons);
}

.invoiceListItemLink > * {
  flex-grow: 1;
}

.invoiceListItemId {
  color: var(--color-dark-text-and-icons);
  max-width: 6rem;
}

.invoiceListItemPaymentDue {
  max-width: 12rem;
  margin-left: 4rem;
}

.invoiceListItemClientName {
  max-width: 20rem;
  margin-left: 4rem;
  text-align: left;
}

.invoiceListItemTotal {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.08rem;
  font-weight: 700;
  color: var(--color-dark-text-and-icons);
  margin-right: 4rem;
  text-align: right;
}

.invoiceListItem svg {
  max-width: 0.8rem;
  margin-left: 2rem;
}
