.sidebar {
  background-color: var(--color-dark-elements);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border-radius: 0 2rem 2rem 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 2;
  width: var(--sidebar-width);
}

.sidebarLogo {
  width: var(--sidebar-width);
  height: var(--sidebar-width);
  background-color: var(--color-main);
  border-radius: 0 2rem 2rem 0;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.sidebarLogo::before {
  content: '';
  position: absolute;
  bottom: 0;
  background-color: var(--color-main-lighter);
  height: 50%;
  width: 100%;
  z-index: 0;
  border-top-left-radius: 2rem;
}

.sidebarLogoImg {
  width: 4rem;
  height: auto;
  position: relative;
}

.sidebarElements > *:not(:last-child) {
  border-bottom: 0.1rem solid #494e6e;
}

.sidebarElements > * {
  width: 100%;
  padding: 3rem;
}

.sidebarProfileImg {
  border-radius: 50%;
  height: auto;
}
