.invoiceActionsContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  margin: 2rem 0;
}

.invoiceStatus,
.invoiceActions {
  display: flex;
  align-items: center;
}

.invoiceStatus {
  gap: 2rem;
}

.invoiceActions {
  gap: 1rem;
}
