.login-form-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-4);
}

.login-form-actions > * {
  flex: 1 1 auto;
  min-width: 14.4rem;
}

.login-form-errors {
  display: contents;
  text-align: center;
}
