.invoiceFormItems {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.invoiceFormItemsTitle {
  color: var(--color-light-text-and-icons);
}

.invoiceFormItemsGrid {
  display: grid;
  grid-template-columns: 5fr 1.4fr 3fr 2fr 1fr;
  gap: 1.5rem;
  margin-right: -1rem;
}

.invoiceFormItemsGrid > *:nth-child(5n + 2) input {
  text-align: center;
}

.invoiceFormItemsGrid button {
  padding: 1rem;
  margin-top: -0.6rem;
}

.invoiceFormItemsGrid button svg path {
  fill: var(--color-light-text-and-icons);
}
