.sidebar {
  background-color: var(--color-dark-elements);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border-radius: 0 2rem 2rem 0;
  overflow: hidden;
}

.sidebarElements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarElements > *:not(:last-child) {
  border-bottom: 0.1rem solid #494e6e;
}

.sidebarThemeSwitch {
  width: 100%;
  padding: 3rem;
}

.sidebarProfileImg {
  padding: 3rem;
  border-radius: 50%;
  height: 10rem;
  width: auto;
}
