.invoicesListItem:not(:last-child) {
  margin-bottom: 2rem;
}

.invoicesListItemLink {
  width: 100%;
  padding: 1.8rem 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-very-light-text-and-icons);
}

.invoicesListItemLink > * {
  flex-grow: 1;
}

.invoicesListItemPaymentDue {
  max-width: 11rem;
  margin-left: 4rem;
}

.invoicesListItemPaymentDue::before {
  content: 'Due ';
}

.invoicesListItemClientName {
  max-width: 20rem;
  text-align: left;
  margin-left: 4rem;
}

.invoicesListItemTotal {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.08rem;
  color: var(--color-dark-text-and-icons);
  font-weight: 700;
  text-align: right;
  margin-right: 4rem;
}

.invoicesListItem svg {
  max-width: 0.8rem;
  margin-left: 2rem;
}
