.invoiceFormContainer {
  max-width: 72rem;
  height: 100vh;
  background-color: var(--background-color-invoice-form-container);
  transition: all 0.3s;
  padding: 5rem 3rem 10rem var(--sidebar-width);
  border-radius: 0 var(--border-radius-big) var(--border-radius-big) 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.invoiceForm {
  max-height: 100%;
  padding: 0 2rem 2rem 5rem;
  overflow: auto;
  scroll-behavior: smooth;
}

.invoiceForm::before,
.invoiceForm::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.invoiceForm::before {
  height: 10rem;
  background-image: linear-gradient(
    to bottom,
    var(--background-color-invoice-form-container) 30%,
    transparent
  );
  top: 6rem;
  transition: all 0.1s ease-in-out;
}

.invoiceForm::after {
  height: 20rem;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));
  bottom: 0;
  transition: all 0.4s ease-in-out;
}

body[data-theme='dark'] .invoiceForm::after {
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
}

.invoiceFormWithTopGradient::before {
  opacity: 1;
}

.invoiceFormWithBottomGradient::after {
  opacity: 1;
}

/* width */
.invoiceForm::-webkit-scrollbar {
  width: 0.8rem;
  height: 8px;
}

/* Track */
.invoiceForm::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

/* Handle */
.invoiceForm::-webkit-scrollbar-thumb {
  background: var(--background-color-custom-scrollbar);
  transition: all 0.3s;
  border-radius: 0.4rem;
}

.invoiceFormTitle {
  position: sticky;
  top: 0;
  margin-bottom: 5rem;
  z-index: 2;
  background-color: var(--background-color-invoice-form-container);
  transition: all 0.3s;
}

.invoiceFormSection {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  margin-bottom: 5rem;
}

.invoiceFormSectionTitle {
  color: var(--color-main);
  transition: all 0.3s;
  margin-bottom: 0.5rem;
}

.invoiceFormInputsRow {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.invoiceFormInputsRow > * {
  flex: 1 1 50%;
}

.invoiceFormSubmitSection {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--background-color-invoice-form-container);
  transition: all 0.3s;
  padding: 3rem 5rem 3rem calc(var(--sidebar-width) + 5rem);
  border-radius: 0 var(--border-radius-big) var(--border-radius-big) 0;
  z-index: 2;
}
