.invoice-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.invoice-list .invoice-link {
  display: block;
  background-color: var(--color-mauve-1);
  padding: var(--spacing-6);
  border-radius: var(--border-radius-2);
  border: 0.1rem solid var(--color-mauve-6);
}

.invoice-list .invoice-link:hover:not(:disabled):not(:focus) {
  border-color: var(--color-mauve-7);
}

.invoice-list .invoice-link:focus {
  border-color: var(--color-violet-8);
}

.invoice-list .invoice-link svg {
  width: 2rem;
  height: auto;
}

.invoice-list dl {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr 1fr auto auto;
  align-items: center;
  font: var(--font-text-sm);
}

.invoice-list .invoice-id dd {
  font-weight: 600;
  width: 7ch;
}

.invoice-list .invoice-due-date dd {
  width: 15ch;
}

.invoice-list .invoice-id dd::before {
  content: '#';
  color: var(--color-mauve-11);
}

.invoice-list .invoice-amount-due {
  font: var(--font-text-lg);
  font-weight: 600;
}

.invoice-list .invoice-due-date,
.invoice-list .invoice-client-name {
  color: var(--color-mauve-11);
}

.invoice-list .invoice-id,
.invoice-list .invoice-due-date,
.invoice-list .invoice-client-name,
.invoice-list .invoice-amount-due {
  margin-right: var(--spacing-10);
}

.invoice-list .invoice-status {
  margin-right: var(--spacing-4);
  width: 10rem;
}

.invoice-list .invoice-status dd > * {
  display: block;
}

.invoice-list .invoice-amount-due {
  justify-self: end;
}

@media (max-width: 64em) {
  .invoice-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .invoice-list dl {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-6);
  }

  .invoice-list .invoice-id {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    margin: 0;
    margin-bottom: var(--spacing-6);
  }

  .invoice-list .invoice-client-name {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    margin: 0;
    justify-self: end;
    margin-bottom: var(--spacing-6);
  }

  .invoice-list .invoice-due-date {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin: 0;
    margin-bottom: var(--spacing-1);
  }

  .invoice-list .invoice-amount-due {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    margin: 0;
    justify-self: start;
  }

  .invoice-list .invoice-status {
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
    margin: 0;
    justify-self: end;
    align-self: end;
  }

  .invoice-list .invoice-link svg {
    display: none;
  }
}

@media (max-width: 40em) {
  .invoice-list {
    grid-template-columns: 1fr;
  }
}
