.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.legend {
  color: var(--color-violet-9);
  font: var(--font-text-sm);
  font-weight: 600;
  margin-bottom: var(--spacing-5);
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field:has(input[type='checkbox']) {
  flex-direction: row;
  align-items: center;
}

.input-field .label {
  padding-bottom: 0.6rem;
  font: var(--font-text-sm);
  font-weight: 500;
  color: var(--color-mauve-12);
}

.input {
  background-color: var(--color-mauve-1);
  border: 0.1rem solid var(--color-mauve-7);
  border-radius: var(--border-radius-2);
  padding: 1rem 1.4rem;
  font: var(--font-text-sm);
  font-weight: 400;
  width: 100%;
}

.input:focus-visible:not([readonly]) {
  border-color: var(--color-violet-8);
}

::placeholder {
  color: var(--color-mauve-10);
}

@media (hover: hover) {
  .input:hover:not(:focus-visible):not([readonly]) {
    border-color: var(--color-mauve-8);
  }
}

.input-date-container {
  width: 100%;
  position: relative;
}

.input-date-container svg {
  width: 1.6rem;
  height: auto;
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  pointer-events: none;
}

.input-date-container .input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.input-date-container .input {
  padding: 0.9rem 1.4rem;
}

.checkbox-field {
  display: flex;
}

.checkbox-field .label {
  padding-left: var(--spacing-2);
}

.checkbox {
  border-radius: var(--border-radius-1);
  border: 0.1rem solid var(--color-mauve-7);
  background-color: var(--color-mauve-1);
  color: var(--color-violet-9);
  width: 1.6rem;
  height: 1.6rem;
}

.checkbox[data-state='checked'] {
  background-color: var(--color-violet-3);
  border-color: var(--color-violet-8);
}

.checkbox > * {
  display: grid;
  place-items: center;
}

.checkbox:focus-visible {
  border-color: var(--color-violet-8);
}

@media (hover: hover) {
  .checkbox:hover:not(:focus-visible):not([data-state='checked']) {
    border-color: var(--color-mauve-8);
  }
}

.select-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  color: var(--color-mauve-12);
}

.select-trigger svg {
  width: 2rem;
  height: auto;
}

.select-trigger[data-state='open'] svg {
  transform: rotate(180deg);
}

.select-content {
  overflow: hidden;
  background-color: var(--color-mauve-1);
  border-radius: var(--border-radius-2);
  box-shadow: var(--shadow-lg);
  width: var(--radix-select-trigger-width);
}

.select-viewport {
  padding: 0.7rem;
}

.select-item {
  font: var(--font-text-sm);
  padding: 1rem 0.7rem;
  display: flex;
  justify-content: space-between;
  user-select: none;
  border-radius: var(--border-radius-1);
}

.select-item:focus-visible {
  background-color: var(--color-violet-4);
}

.select-item-indicator {
  display: flex;
  align-items: center;
  color: var(--color-violet-9);
  border: none;
}

.select-item svg {
  width: 2rem;
  height: auto;
}
