.inputGroup > * {
  width: 100%;
  display: block;
}

.inputGroup.inputGroupDisabled {
  opacity: 0.5;
}

.inputGroup label {
  margin-bottom: 1rem;
}

.inputField {
  border-radius: var(--border-radius-x-small);
  border: 0.1rem solid var(--border-color-input);
  padding: 1.4rem 1.6rem;
  font-weight: 700;
  color: var(--color-dark-text-and-icons);
  transition: all 0.3s;
  background-color: var(--background-color-input);
  transition: all 0.3s;
}

.inputField.inputFieldReadOnly {
  padding-left: 0;
  padding-right: 0;
  border: none;
  color: var(--color-light-text-and-icons);
  transition: all 0.3s;
  font-weight: 700;
  background-color: transparent;
}
