.app {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  background-color: var(--color-mauve-2);
  overflow: hidden;
}

.app-header {
  background-color: var(--color-mauve-1);
  border-right: 0.1rem solid var(--color-mauve-6);
  padding: var(--spacing-6);
}

.app-main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.app-outlet-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: var(--spacing-16);
}

.app-outlet-wrapper::-webkit-scrollbar {
  width: 0.4rem;
}

.app-outlet-wrapper::-webkit-scrollbar-track {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}

.app-outlet-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-mauve-9);
}

.app-outlet {
  max-width: 104rem;
  margin: 0 auto;
}

@media (max-width: 64em) {
  .app {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }

  .app-header {
    border-bottom: 0.1rem solid var(--color-mauve-6);
    padding: var(--spacing-4) var(--spacing-6);
  }

  .app-header .logo {
    height: 3.2rem;
    width: auto;
  }

  .app-outlet-wrapper {
    padding: var(--spacing-10) var(--spacing-6);
  }
}
