.calendar {
  background-color: var(--color-light-elements);
  box-shadow: 0rem 1rem 2rem rgba(72, 84, 159, 0.25);
  padding: 0;
  border-radius: var(--border-radius-default);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.calendarHeaderButton {
  padding: 1rem;
}

.calendarDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 1.4rem 1.4rem;
  width: 100%;
}

.calendarDay,
.calendarDayHidden {
  height: 3rem;
}

.calendarDayHidden {
  opacity: 0.2;
}
