.invoice-management,
.invoice-details {
  background-color: var(--color-mauve-1);
  border-radius: var(--border-radius-2);
  border: 0.1rem solid var(--color-mauve-6);
  margin-top: var(--spacing-6);
}

.invoice-management {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-6);
}

.invoice-details {
  padding: var(--spacing-12);
}

.invoice-management .invoice-status,
.invoice-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.invoice-management .invoice-status > span {
  width: 10rem;
}

.invoice-details dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-12);
}

.invoice-details dl > *:nth-child(1) {
  grid-column: 1 / span 2;
}

.invoice-details dl > *:nth-child(2) {
  grid-column: 3 / span 2;
  text-align: right;
}

.invoice-details dl > *:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invoice-details dl > *:nth-child(5) {
  grid-column: 3 / span 2;
}

.invoice-details dl > *:last-child {
  grid-column: 1 / span 4;
}

.invoice-details .invoice-id dd,
.invoice-details .invoice-date dd,
.invoice-details .invoice-payment-due dd,
.invoice-details .invoice-client-name,
.invoice-details .invoice-sent-to dd {
  font: var(--font-text-lg);
  font-weight: 600;
}

.invoice-management .invoice-status dt,
.invoice-details .invoice-project-desc dd,
.invoice-details .invoice-bill-from dd,
.invoice-details .invoice-client-address,
.invoice-details .invoice-date dt,
.invoice-details .invoice-bill-to dt,
.invoice-details .invoice-sent-to dt,
.invoice-details .invoice-payment-due dt,
.invoice-details .invoice-item-list li:nth-child(1),
.invoice-details .invoice-amount-due dt {
  font: var(--font-text-sm);
  color: var(--color-mauve-11);
}

.invoice-details .invoice-id dd {
  margin-bottom: var(--spacing-1);
}

.invoice-details .invoice-client-address {
  margin-top: var(--spacing-1);
}

.invoice-details .invoice-date dt,
.invoice-details .invoice-payment-due dt,
.invoice-details .invoice-bill-to dt,
.invoice-details .invoice-sent-to dt {
  margin-bottom: var(--spacing-2);
}

.invoice-details .invoice-bill-from *,
.invoice-details .invoice-client-address {
  line-height: 1.7;
}

.invoice-details .invoice-item-list {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: var(--spacing-6);
  padding: var(--spacing-8);
  border: 0.1rem solid var(--color-mauve-6);
  border-bottom: none;
  border-radius: var(--border-radius-2) var(--border-radius-2) 0 0;
}

.invoice-details .invoice-amount-due {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-mauve-2);
  padding: var(--spacing-8);
  border: 0.1rem solid var(--color-mauve-6);
  border-radius: 0 0 var(--border-radius-2) var(--border-radius-2);
}

.invoice-details .invoice-amount-due dd {
  font: var(--font-text-2xl);
  font-weight: 600;
}

.invoice-details .invoice-item-list dd,
.invoice-details .invoice-item-list ul,
.invoice-details .invoice-item-list li {
  display: contents;
}

.invoice-details .invoice-item-list li:not(:nth-child(1)) {
  font: var(--font-text-md);
  font-weight: 600;
}

.invoice-details .invoice-item-list li > *:nth-child(2) {
  text-align: center;
  color: var(--color-mauve-11);
}

.invoice-details .invoice-item-list li > *:nth-child(3) {
  text-align: right;
  color: var(--color-mauve-11);
}

.invoice-details .invoice-item-list li > *:nth-child(4) {
  text-align: right;
}

@media (max-width: 52em) {
  .invoice-details {
    padding: var(--spacing-6);
  }

  .invoice-details dl {
    gap: var(--spacing-6);
  }

  .invoice-details dl > *:nth-child(1) {
    grid-column: 1 / span 5;
  }

  .invoice-details dl > *:nth-child(2) {
    grid-column: 1 / span 5;
    text-align: left;
  }

  .invoice-details dl > *:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1 / span 2;
  }

  .invoice-details dl > *:nth-child(4) {
    grid-column: 3 / span 3;
  }

  .invoice-details dl > *:nth-child(5) {
    grid-column: 1 / span 5;
    margin-bottom: var(--spacing-4);
  }

  .invoice-details dl > *:last-child {
    grid-column: 1 / span 5;
  }

  .invoice-details .invoice-item-list {
    grid-template-columns: auto 1fr 1fr;
    column-gap: 0;
    row-gap: var(--spacing-1);
    padding: var(--spacing-6);
  }

  .invoice-details .invoice-amount-due {
    padding: var(--spacing-6);
    column-gap: var(--spacing-6);
    row-gap: var(--spacing-1);
  }

  .invoice-details .invoice-item-list li:nth-child(1) {
    display: none;
  }

  .invoice-details .invoice-item-list li > *:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .invoice-details .invoice-item-list li > *:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .invoice-details .invoice-item-list li > *:nth-child(2)::after {
    content: ' ';
    white-space: pre;
  }

  .invoice-details .invoice-item-list li > *:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: start;
  }

  .invoice-details .invoice-item-list li > *:nth-child(3)::before {
    content: 'x ';
  }

  .invoice-details .invoice-item-list li > *:nth-child(4) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    align-self: center;
  }
}

@media (max-width: 40em) {
  .invoice-management .invoice-status {
    width: 100%;
    justify-content: space-between;
  }

  .invoice-actions {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-mauve-1);
    border-top: 0.1rem solid var(--color-mauve-6);
    padding: var(--spacing-6);
  }

  .invoice-actions > *:last-child {
    margin-left: auto;
  }

  .invoice-details {
    margin-bottom: var(--spacing-24);
  }
}

@media (max-width: 22em) {
  .invoice-details dl > *:nth-child(3) {
    gap: var(--spacing-6);
    grid-column: 1 / span 5;
  }

  .invoice-details dl > *:nth-child(4) {
    grid-column: 1 / span 5;
  }

  .invoice-details .invoice-item-list li > *:nth-child(1) {
    grid-column: 1 / span 4;
  }

  .invoice-details .invoice-item-list li > *:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .invoice-details .invoice-item-list li > *:nth-child(2)::after {
    content: ' ';
    white-space: pre;
  }

  .invoice-details .invoice-item-list li > *:nth-child(3) {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
    justify-self: start;
  }

  .invoice-details .invoice-item-list li > *:nth-child(3)::before {
    content: 'x ';
  }

  .invoice-details .invoice-item-list li > *:nth-child(4) {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    justify-self: start;
    margin-top: var(--spacing-1);
  }

  .invoice-details .invoice-amount-due {
    flex-direction: column;
    align-items: flex-start;
  }
}
